* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.home-container {
  background-image: url("./img//mount.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 980px;
  position: relative;
}
